# Analise do Dataset do MovieLens

## Leitura do dataset

In [2]:
import pandas as pd

In [10]:
df_filmes = pd.read_csv("https://raw.githubusercontent.com/LeonardoPoletti/Dataset/master/MovieLens/movies.csv")
df_avaliacoes = pd.read_csv("https://raw.githubusercontent.com/LeonardoPoletti/Dataset/master/MovieLens/ratings.csv")

In [5]:
df_filmes

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [11]:
df_avaliacoes

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [12]:
df_filmes.shape

(9742, 3)

In [13]:
df_avaliacoes.shape

(100836, 4)

## Alteração do Cabeçalho

In [8]:
df_filmes.columns = ['filmeId', 'titulo', 'genero']
df_filmes.head()

,filmeId,titulo,genero
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [14]:
df_avaliacoes.columns = ['usuarioID', 'filmeId', 'nota', 'momento']
df_avaliacoes.head()

   usuarioID  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

## Analise Inicial do Filme 1

In [17]:
avaliacao_do_filme_1 = df_avaliacoes.query('filmeId==1')
avaliacao_do_filme_1.head()

      usuarioID  filmeId  nota     momento
0             1        1   4.0   964982703
516           5        1   4.0   847434962
874           7        1   4.5  1106635946
1434         15        1   2.5  1510577970
1667         17        1   4.5  1305696483

In [18]:
avaliacao_do_filme_1.describe()

        usuarioID  filmeId        nota       momento
count  215.000000    215.0  215.000000  2.150000e+02
mean   306.530233      1.0    3.920930  1.129835e+09
std    180.419754      0.0    0.834859  2.393163e+08
min      1.000000      1.0    0.500000  8.293223e+08
25%    155.500000      1.0    3.500000  8.779224e+08
50%    290.000000      1.0    4.000000  1.106855e+09
75%    468.500000      1.0    4.500000  1.348523e+09
max    610.000000      1.0    5.000000  1.535710e+09

In [19]:
avaliacao_do_filme_1.mean()

usuarioID    3.065302e+02
filmeId      1.000000e+00
nota         3.920930e+00
momento      1.129835e+09
dtype: float64